name: PipelineFlask

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi

    - name: Render Deploy 
      uses: johnbeynon/render-deploy-action@v0.0.8
      with:
        service-id: ${{secrets.RENDER_SERVICE_ID}}
        api-key: ${{secrets.RENDER_API_KEY}}
